%div.container-fluid
	%div.row
		%div.col-sm-6
			%h3 General Stats
			%ul.list-group
				%li.list-group-item
					%b Filename:
					%span#fileName
				%li.list-group-item
					%b Parsed Requests:
					%span#parsedRequests
				%li.list-group-item
					%b Request Timespan:
					%span#requestTimespan
		%div.col-sm-6

	%div.row
		%div.col-sm-12
			%h3 Route Hits
	%div.row
		%div.col-sm-3
			%div.chart-loading 
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#routeHits{ :height => '200' }
		%div.col-sm-9
			%div#routeHitsTable
			%span sum, mean, min and max are displayed in seconds
	%div.row
		%div.col-sm-12
			%h3 Status Code Counts
	%div.row
		%div.col-sm-3
			%div.chart-loading
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#statusCodeCountCanvas{ :height => '200' }
		%div.col-sm-9#statusCodeTable
	%div.row
		%div.col-sm-12
			%h3 HTTP Request Methods
	%div.row
		%div.col-sm-3
			%div.chart-loading
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#requestMethodsCanvas{ :height => '200' }
		%div.col-sm-9#requestMethodsTable
	%div.row
		%div.col-sm-12
			%h3 Process Blockers (> 1 sec delay)
		%div.col-sm-3
			%div.chart-loading
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#processBlockers{ :height => '300' }
		%div.col-sm-8.col-sm-offset-1
			%div#processBlockersTable
	%div.row
		%div.col-sm-12
			%h3 Database Time
	%div.row
		%div.col-sm-3
			%div.chart-loading 
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#databaseTimeCanvas{ :height => '200' }
		%div.col-sm-9
			%div#databaseTimeTable
			%span sum, mean, min and max are displayed in seconds
	%div.row
		%div.col-sm-12
			%h3 View Rendering Time
	%div.row
		%div.col-sm-3
			%div.chart-loading 
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#viewRenderingTimeCanvas{ :height => '200' }
		%div.col-sm-9
			%div#viewRenderingTimeTable
			%span sum, mean, min and max are displayed in seconds
	%div.row
		%div.col-sm-12
			%h3 Partials Rendering Time
	%div.row
		%div.col-sm-3
			%div.chart-loading 
				%img= image_tag 'ajax-loader.gif'
			%canvas.chart#partialsRenderingTimeCanvas{ :height => '200' }
		%div.col-sm-9
			%div#partialsRenderingTimeTable
			%span sum, mean, min and max are displayed in seconds
%div#error-message.hidden.alert.alert-danger.container
	%b Oh snap!
	Something went wrong. Please try to reload the page.